<div class="text-end">
    <button id="btnGirisYap" type="button" class="btn btn-outline-light me-2 fw-bold">Giriş</button>
    <a asp-controller="Auth" asp-action="Register" class="btn btn-warning fw-bold" >Kayıt Ol</a>
</div>

@*
    PartialView lar büyük View yapılarını daha küçük bileşenlere ayırmanın etkili bir yoludur. View yapısının içerisinin gereksiz yere karmaşık veya büyük hale gelmesinin önüne geçebilir. Eğer kullanacağız View yapısı oldukça karmaşık kod düzeni içeriyorsa bunu PartialView'lara bölerek kod karmaşasından kurtarabilirsiniz.

    ek ->  Aynı html kodlarından birden fazla yerde basılacaksa, partial view üzerinden çağırılabilir. (Tıpkı metot mantığı)
*@