



<div class="row fw-bold text-center text-light">

    <h1>404</h1>

    <img class="mb-3" style="width:50%; display:block; margin-left:auto; margin-right:auto;" src="~/images/errors/404.gif" />
    
    <p style="font-size:30px;">Sayfa Bulunamadı</p>
    <p>Ana sayfaya gitmek için <a href="/">BURAYA</a> tıklayabilirsin. </p>




</div>